a:link {
    color: #323232;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #323232;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
/* Footer*/
#fotito{
    height: 500px;
    width: 100%;
}
/*@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    color: #323232;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background:#323232 !important;
    position:relative;
    bottom:0;
    width:100%;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
}


